body {

	}
	h1{

		}
	h2{

		}	
	h3{

		}	
	pre{

		}	
			
    /* image replacement */
        .graphic, #prevBtn, #nextBtn, #slider1prev, #slider1next{
            margin:0;
            padding:0;
            display:block;
            overflow:hidden;
            text-indent:-8000px;
            }
    /* // image replacement */
			
	#container{	

		}	
	#header{

		}				
	#content{
		position:relative;
		}			

/* Easy Slider */

#slider {

}

	#slider ul, #slider li,
	#slider2 ul, #slider2 li{
		margin:0;
		padding:0;
		list-style:none;
		}
	#slider2{margin-top:1em;}
	#slider li, #slider2 li{ 
		/* 
			define width and height of list item (slide)
			entire slider area will adjust according to the parameters provided here
		*/ 
		width:900px;
		height:200px;
		overflow:hidden; 
		}	
	#prevBtn, #nextBtn,
	#slider1next, #slider1prev{ 
    display: block;
    height: 77px;
    left: 8px;
    position: absolute;
    top: 100px;
    width: 30px;
    z-index: 1000;
		}	
	#nextBtn, #slider1next{ 
		left:696px;
		}														
	#prevBtn a, #nextBtn a,
	#slider1next a, #slider1prev a{  
		display:block;
		position:relative;
		width:30px;
		height:77px;
		background: transparent url(images/btn_prev.gif) no-repeat 0 0;	
		}	
	#nextBtn a, #slider1next a{ 
		background: transparent url(images/btn_next.gif) no-repeat 0 0;	
		}	
		
	/* numeric controls */	

	ol#controls{
    height: 28px;
    left: 717px;
    margin: 1em 0;
    padding: 0;
    position: relative;
    top: -60px;
    width: 200px;
		}
	ol#controls li{
		margin:0 10px 0 0; 
		padding:0;
		float:left;
		list-style:none;
		line-height:28px;
		}
	ol#controls li a{
		    background: none repeat scroll 0 0 #555;
		    color: #fff;
		    float: left;
		    height: 28px;
		    line-height: 28px;
		    padding: 0 10px;
		    text-decoration: none;
		}
	ol#controls li.current a{
		    background: none repeat scroll 0 0 #333;
		    color: #fff;
		}
	ol#controls li a:focus, #prevBtn a:focus, #nextBtn a:focus{outline:none;}
	
/* // Easy Slider */