<div id="post_header">
            	<div id="box_booking">
					<form name="form_booking" action="" method="post">
					

<script type="text/javascript">
	jQuery(function() {
		//$("#tabs").tabs().find(".ui-tabs-nav").sortable({axis:'x'});
		jQuery('#tabs_reservas').tabs();

	});
</script>
<div id="tabs_reservas">
	<ul>
		<li style="width:77px"><a href="#tabs_reservas-1">Buscar<br />hotel</a></li>

		        <li style="width:77px"><a href="#tabs_reservas-3">Reservas<br />de grupos</a></li>
	</ul>
	<div id="tabs_reservas-1">
    	<div id="center">
    		
			<table border="0" cellspacing="1" cellpadding="0" width="258" style="margin-left:2px" id="formReservas">
                    <tr>
                        <td class="margenReserva">
                    <div align="left"> 
                    <input name="msgSelectHotel" id="msgSelectHotel" value="Por favor seleccione un hotel antes de continuar." type="hidden"  />

                    <select name="hotels" class="inputDespReserv" style="width:129px">
                    <option value="seleccionar">Seleccione hotel</option>
                    <option value="HTM">Termes Montbrió</option>
                    <option value="HRB">Roc Blanc Andorra</option>
                    </select>
                    </div></td>
                    <td width="91">NOCHES</td>

                    </tr>
                    <tr>
                        <td class="margenReserva" style="text-transform:uppercase">Fecha de entrada</td>
                        <td>
                            <select name="nits" class="inputDespReserv2"  onchange="updateNits();">
                            <option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option>

                            <option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option>
                            <option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option>
                            <option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option>

                            <option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="margenReserva">
                        <input name="fechainicio" id="fechainicio" value="" type="text" class="inputReservas" onchange="updateNits();" />

                        <input id="lanzador_fechainicio" value="..." type="button" class="calendari" style="cursor: pointer;" />
                        <script type="text/javascript" src="/calendario/calendar.js"></script>
                        <script type="text/javascript" src="/calendario/lang/calendar-1.js"></script>
                        <script type="text/javascript" src="/calendario/calendar-setup.js"></script>
                        <script type="text/javascript">
                        <!--
                            var arad=new Date();
                            var ara=new Date(arad.getTime()+3600*24*1000*1);
                            var despres=new Date(arad.getTime()+3600*24*1000*2);
                            ara=ara.getDate()+"-"+(ara.getMonth()+1)+"-"+ara.getFullYear();
                            despres=despres.getDate()+"-"+(despres.getMonth()+1)+"-"+despres.getFullYear();
                            document.form_booking.fechainicio.value=ara;
                            Calendar.setup({
                                inputField     :    'fechainicio',     // id del campo de texto
                                ifFormat     :     '%d-%m-%Y',     // formato de la fecha que se escriba en el campo de texto
                                button     :    'lanzador_fechainicio'     // el id del botón que lanzará el calendario
                            });
                        -->
                        </script>
                        </td>
                        <td>ADULTOS</td>

                    </tr>
                    <tr>
                        <td class="margenReserva" style="text-transform:uppercase">Fecha de salida</td>
                        <td><select name="Adults" class="inputDespReserv2">
                        <option value="1">1</option><option value="2" selected="selected">2</option>
                        <option value="3">3</option><option value="4">4</option><option value="5">5</option>

                        </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="margenReserva">
                            <input name="fechafinal" id="fechafinal" value="" type="text" class="inputReservas" />
                            <input name="button" type="button" class="calendari" id="lanzador_fechafinal" style="cursor: pointer;" value="..." onchange="updateSortida();" />
                            <script type="text/javascript">
                            <!--
                            document.form_booking.fechafinal.value=despres;
                            Calendar.setup({
                                inputField     :    'fechafinal',     // id del campo de texto
                                ifFormat     :     '%d-%m-%Y',     // formato de la fecha que se escriba en el campo de texto
                                button     :    'lanzador_fechafinal',     // el id del botón que lanzará el calendario
                                onUpdate : updateSortida
                            });
                            -->
                            </script>

                        </td>
                        <td>NIÑOS                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><select name="Children" class="inputDespReserv2">
                        <option value="0">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option>

                        </select></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td style="text-transform:uppercase">Habitaciones</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>

                        <td><select name="Rooms" class="inputDespReserv2">
                        <option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option>
                        </select>
                        </td>
                    </tr>
                    <tr>

                        <td></td>
                        <td>Código promocional</td>
                    </tr>
                    <tr>
                        <td style="height:30px"></td>
                        <td style="color:#FFF; text-align:right; padding-right:5px"><input name="identifier" id="identifier" value="" type="text" class="inputReservas" /></td>
                    </tr>
                    <tr>

                    <td colspan="2">
                    <div align="left" style="position:relative">
                      <ol style="position:absolute; margin-left:190px; top:12px; list-style:none">
                        <li>
                          <input type="hidden" name="idiomareserves" value="es" />
                          <!--<input src="/UserFiles/Image/btn_busqueda1.jpg" onclick="reserves(); return false;" type="image">-->
                          <a href="#" onclick="reserves();" style="color:white; text-transform:uppercase">Buscar</a>
                        </li>

                      </ol>
                    </div></td>
                    </tr>
                </table>
                    </div>
    </div>
        <div id="tabs_reservas-3">
        Seleccione el hotel en el que desea realizar su reserva de grupo<br />

        <table width="250" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><div class="btnReservas-1"><a href="<?php print $GLOBALS['base_url']; ?>/termes-montbrio/eventos/form-grupos-turisticos" target="_blank"><img src="/img/1px.gif" width="114" height="64" alt="Reserva Termes Montbrió" border="0" /></a></div></td>
            <td><div class="btnReservas-2"><a href="<?php print $GLOBALS['base_url']; ?>/rocblanc-andorra/eventos/form-grupos-turisticos" target="_blank"><img src="/img/1px.gif" width="114" height="64" alt="Reserva Roc Blanc" border="0" /></a></div></td>
          </tr>
        </table>
  </div>
  </div>
					</form>

